body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E0EDFF ;
    color:#000000;
}

h1, h2 {
    color: navy;
}

.evenrow {
    background-color: gray
}

h1 {color: #000000;
    font-size: 2em;
}

h2 {
    font-size: 1em;
}

a {color: #165AB8}


nav{
    background-color: #96C2FF;
    padding: 10px;
    margin-bottom: 30px;
}

nav a{
    color:#000000
}

nav a:hover{
    background-color: #458AE4;
}