body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2 {
    color: navy;
}

.evenrow {
    color: gray /*ask about font color*/
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1em;
}