body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    background-color: rgb(243, 251, 255);
}


nav {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: fixed;
    background-color: #cee6f1;
    height: 100px;
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,.25);
    border-bottom: 5px solid #76B4D1;
}


nav ul {
    list-style-type: none;
    float: right;




}

nav ul, li { 
    display: inline-block;
    line-height: 70px;

    font-size: 1.1em;}

nav li {
    float: left;


}

nav ul li a {
    color: black;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    margin-right: 120px;
    border-radius: 3px;
    
}

li a:hover {
    background-size: 4em;
    color: orange;
    transition: .5s;
    text-decoration: underline;
}



.bannerlogo{
    margin-left: 40px;
    float: left;
    width: 31%;
}



main {
    padding-top: 82px;
    margin-left: 75px; margin-right: 75px;
    background-color: white;

    

}



span {
    display: inline-block;
    line-height: 70px;
    font-weight: bold;
    font-size: 50px;
}


/*headers/font styling*/

h2 {
    color: black;
}


/*footer styling*/
.navbar, .footerfirstrow, .footersecondrow, .footerthirdrow{max-width: 100%;}

footer {color: black;
    background-color: #76B4D1;
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    height: 300px;
    /*box-shadow: 0px 0px 5px 2px rgba(0,0,0,.25);*/
}

.footerfirstrow {
    color: rgb(58, 58, 58);
    background-color: #B0DFF5;
    text-align: center;
    font-weight: bold;
    height: 55px;
    text-transform: none;
    padding-left: 42.5%;

}

.footerfirstrow a {
    color: rgb(58, 58, 58);
}


footer a {
    color: black;
    text-decoration: none;

}

#footerheading1, #footerheading2, #footerheading3 {font-size: 1em;}

#newsletterlink {
    text-align: center;
    text-decoration: underline;
}

.footerfirstrow, .footersecondrow, .footerthirdrow {
    display: flex;

}

.footersecondrow{
    font-size: 0.8em;
}

div {
 flex: 1;

}

.footerfirstcol {
    height: 0px;
}

.footersecondcol, .footerthirdcol {
    height: 200px;
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;

}

.footerthirdrow {
    text-align: center;

}
.desktopfooterlogo {
        padding-top:30px;
        margin-left: 20px;


}

.clearcolumn {
    width: 200px;
}

.copy {
    margin-left: 0px;
    font-weight: none;
    font-size: 0.8em;
    float: right;
}

/*main content css*/

.slideshowphoto{

    width: 100%;
    margin: 0px;
    /*resolution 1944pxx576*/
}



.abouttext{
    margin-left:15px;
    margin-top: 50px;
}

.ctc, .partners{
    background-color: white;
   
    }


.pagetitle {margin-left: 40%;
    background-color: #76B4D1;
color: white}

.title{text-align: center;
        font-size: 3.5em;
        background-color: #76B4D1;
        margin-left: 100px; margin-right: 100px;
        padding: 0.2em; padding-top:1em;
        height: 60px;
    line-height: 30px;
color: white; border-bottom: 20px solid #cee6f1;}

.orgdescription{text-align: center;
    font-size: 1.2em;
    border: 1px solid #76B4D1;
    background-color: #76B4D1;
    margin-left: 0px; margin-right: 0px;
    padding-left: 50px; padding-right: 50px;
    font-weight: bold;
    height: 80px;
line-height: 40px;
color: white; border: 5px solid #B0DFF5;}
        
main div {border: none;}

.slideshowcontainer{height:200px;
    max-width: 100%;}

.slideshowphoto{height: 320px;
        background-image: url(../../media/aboutimg2.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
    }


.slideshowcontainer span {margin-left: 22%;}

/*responsive design css*/

@media only screen and (min-width: 1030px) {
.mobilefooter{display: none;}
hr {display: none;}
}

@media only screen and (max-width: 1030px) {
   
    .footerfirstrow, .footersecondrow, .footerthirdrow {flex-wrap: wrap;}
    .footerfirstcol, .footersecondcol, .footerthirdcol {flex-wrap: wrap;}
    .desktopfooter{display: none;}
    footer {height: 458px;}
    .newsletterli{margin-top:20px;}
    main {margin-right: 10px; margin-left: 10px;}
    hr {color: gray; margin-right: 20px;}
    .orgdescription {height: 100%; padding:0.5em;}
    .values{ background-color: #76B4D1; color: white;}
    .vtitle {text-align: center; font-weight:bolder; color: white;
        font-family: 'Mukta', sans-serif;}
    h2 {color: white}
    .list{margin-right: 10px; margin-left: 10px;}
    /*.abouttext{margin-left: 10px;}*/
}


.mobilefooter {text-align: center;}

.mfooterfirstrow{
    background-color: #B0DFF5; height: 50px;}

.mfooterfirstrow a {color: rgb(58, 58, 58);}

.mfootersecondrow {padding-top: 20px;}

.mfooterthirdrow {padding-top: 50px; height: 215px}

.mfooterforthrow{background-color: #B0DFF5;}



